html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.user {
    background-image: url('../images/sfondouser.webp');
    background-color: rgb(255, 255, 255);
    background-size: 1550px 600px;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    color: rgb(255, 255, 255);
    text-align: center;
    justify-content: center;
}

a {
    color: white;
}

a:hover {
    color: #0d6efd;
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 10vh;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgba(0, 0, 0, 0.85);
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}

#btn-home {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    justify-content: center;
}

.home-label {
    font-family: 'Georgia', serif;
    font-size: 1rem;
    color: #f7e3ee;
    margin-top: -10px;
    line-height: 1.2;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
}

#content {
    position: absolute;
    top: 10vh;
    left: 0;
    width: 100%;
    height: 80vh;
    overflow-y: auto;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0;
}

#footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10vh;
    background-color: rgba(0, 0, 0, 0.85);
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    box-sizing: border-box;
}

#social-icons {
    display: flex;
    gap: 20px;
    margin-top: 0;
    margin-bottom: 0px; 
  }
  
  
  #social-icons a {
    transition: transform 0.3s ease;
  }
  
  #social-icons a:hover {
    transform: scale(1.2);
  }
  

#footer p {
    margin: 0;
}


.home-background {
    background-size: 2200px 900px;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}

.login {
    background-size: 2200px 900px;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}

.day {
    background-image: url('../images/day.jpg');
}

.night {
    background-image: url('../images/home-backgroundamy.jpg');
}



.home-content {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
}

.table-container {
    background: #ffffff;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.table-wrapper {
    max-height: 400px;
    overflow-y: auto;
    overflow-x: auto;
}

table {
    border-collapse: separate;
    border-spacing: 0;
}

thead th {
    position: sticky;
    top: 0;
    background: #0d6efd !important;
    color: white;
    z-index: 20;
}

thead {
    background: #0d6efd;
}

tbody tr:nth-child(even) {
    background-color: #f8f9fa;
}

.spinner-border {
    display: none;
}

#btn-login {
    background-color: rgb(135, 6, 155);
    color: white;
    border: none;
}

#btn-register {
    background-color: transparent;
    color: white;
}

#btn-register:hover {
    background-color: none;
    color: rgb(135, 6, 155);
}

.login-content {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
    margin-top: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.btn-primary {
    background-color: rgb(135, 6, 155);
    color: white;
    border: none;
}


.admin {
    background-image: url('../images/ultimate-ali.jpg');
    background-size: 1900px 800px;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    color: rgb(255, 255, 255);
    text-align: center;
    justify-content: center;
}

.table-admin {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
    margin-top: 30px;
    margin-top: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.button-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 15px;
    max-width: 400px;
    margin: 0 auto;
}

.riga {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 10px;
    border-radius: 6px;
}

.descrizione {
    font-size: 16px;
}

.admin-button {
    padding: 6px 12px;
    background-color: rgb(135, 6, 155);
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.admin-button:hover {
    background-color: grey;
}

.btn-primary {
    background-color: rgb(135, 6, 155);
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: grey;
}

.btn-secondary {
    background-color: rgb(135, 6, 155);
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn-secondary:hover {
    background-color: grey;
}

.btn-danger {
    background-color: rgb(147, 5, 5);
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn-danger:hover {
    background-color: grey;
}

.btn-info {
    background-color: rgb(135, 6, 155);
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn-info:hover {
    background-color: grey;
}