html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

a {
    color: white;
}

a:hover {
    color: #0d6efd;
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 10vh;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgba(0, 0, 0, 0.85);
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}


#content {
    position: absolute;
    top: 10vh;
    left: 0;
    width: 100%;
    height: 80vh;
    overflow-y: auto;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0;
}

#footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10vh;
    background-color: rgba(0, 0, 0, 0.85);
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    box-sizing: border-box;
}

#social-icons {
    display: flex;
    align-items: center;
}

#social-icons img {
    width: 50%;
    margin-left: 10px;
}

#footer p {
    margin: 0;
}

/*Sfondo user*/
.user {
    background-image: url('../images/sfondouser.webp');
    background-color: rgb(255, 255, 255);
    background-size: 1550px 600px;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    color: rgb(255, 255, 255);
    text-align: center;
    justify-content: center;
}

/* Sfondo area cambio password*/
.change {
    background-image: url('../images/sfondopassword.webp');
    background-color: rgb(255, 255, 255);
    background-size: 1550px 600px;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    color: rgb(255, 255, 255);
    text-align: center;
    justify-content: center;
}

.home-label {
    font-family: 'Georgia', serif;
    font-size: 1rem;
    color: #f7e3ee;
    margin-top: -10px;
    line-height: 1.2;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
}

/*Sfondo home generico*/
.home-background {
    background-size: 2200px 900px;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}

/*Sfondo login generico*/
.login {
    background-size: 2200px 900px;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    font-family: 'Georgia', serif;
}

/*Immagine dinamica giorno*/
.day {
    background-image: url('../images/day.jpg');
}

/*Immagine dinamica notte*/
.night {
    background-image: url('../images/home-backgroundamy.jpg');
}

/*Riquadro trasparente per testi*/
.home-content {
    background-color: rgba(0, 0, 0, 0.7);
    font-family: 'Georgia', serif;
    padding: 20px;
    border-radius: 10px;
}

.login-content {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
    margin-top: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    justify-content: space-between;
}

.table-container {
    background: #ffffff;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.table-wrapper {
    max-height: 400px;
    overflow-y: auto;
    overflow-x: auto;
}

.page-info-content {
    background-color: rgba(0, 0, 0, 0.7);
    width: 1200px;
    height: 600px;
    padding: 20px;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    justify-content: center;
    align-items: center;
}

.button-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 15px;
    max-width: 400px;
    margin: 0 auto;
}

.riga {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 10px;
    border-radius: 6px;
}

.descrizione {
    font-size: 16px;
}

.login-content-admin {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);


}


table {
    border-collapse: separate;
    border-spacing: 0;
}

thead th {
    position: sticky;
    top: 0;
    background: #be7bf5 !important;
    color: white;
    z-index: 20;
}

thead {
    background: #be7bf5 !important;
}

tbody tr:nth-child(even) {
    background-color: #f8f9fa;
}

.spinner-border {
    display: none;
}

/*pulsanti*/

.btn-click {
    background-color: rgb(135, 6, 155);
    color: white;
    font-family: 'Georgia', serif;
    text-transform: uppercase;
    width: 120px;
    height: 50px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: none;
}

.btn-click:hover {
    background-color: grey;
}

#btn-register {
    background-color: none;
    color: white;
    font-family: 'Georgia', serif;
    text-transform: uppercase;
}

#btn-register:hover {
    color: rgb(135, 6, 155);
}

#btn-home {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    justify-content: center;
}

.btn-primary {
    background-color: rgb(135, 6, 155);
    color: white;
    font-family: 'Georgia', serif;
    text-transform: uppercase;
    width: 120px;
    height: 50px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: none;
}

.btn-primary:hover {
    background-color: grey;
}


.btn-danger {
    background-color: rgb(147, 5, 5);
    color: rgb(255, 255, 255);
    font-family: 'Georgia', serif;
    text-transform: uppercase;
    width: 120px;
    height: 50px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
}

.btn-danger:hover {
    background-color: grey;
}

.btn-clickred {
    background-color: rgb(147, 5, 5);
    color: rgb(255, 255, 255);
    font-family: 'Georgia', serif;
    text-transform: uppercase;
    width: 120px;
    height: 50px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
}

.btn-clickred:hover {
    background-color: grey;
}

#btn-info {
    background-color: rgb(135, 6, 155);
    color: white;
    font-family: 'Georgia', serif;
    text-transform: uppercase;
    width: 120px;
    height: 50px;
    /* position: fixed;
    right: 10px;
    display: inline-flex;
    align-items: center;
    justify-content: center;*/
    border: none;
    cursor: pointer;
}

#btn-info:hover {
    background-color: grey;
}

#btn-logout {
    background-color: rgb(155, 6, 6);
    color: white;
    font-family: 'Georgia', serif;
    text-transform: uppercase;
    width: 120px;
    height: 50px;
    /* position: fixed;
    right: 10px;
    display: inline-flex;
    align-items: center;
    justify-content: center;*/
    border: none;
    cursor: pointer;
}

#btn-logout:hover {
    background-color: grey;
}


#btn-home-admin {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;

}

.btn-home-admin:hover {
    background-color: grey;
}

.btn-warning {
    background-color: rgb(255, 217, 0);
    color: white;
    font-family: 'Georgia', serif;
    text-transform: uppercase;
    width: 120px;
    height: 50px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
}


.btn-a {
    background-color: rgb(135, 6, 155);
    color: white;
    font-family: 'Georgia', serif;
    text-transform: uppercase;
    width: 140px;
    height: 60px;
    align-items: center;
    justify-content: center;
    border: none;

}

.btn-a:hover {
    background-color: grey;
}

.btn-b {
    background-color: rgb(135, 6, 155);
    color: white;
    font-family: 'Georgia', serif;
    text-transform: uppercase;
    width: 140px;
    height: 60px;
    align-items: center;
    justify-content: center;
    border: none;

}

.btn-b:hover {
    background-color: grey;
}

/*Sfondo admin con allineamento pulsanti*/
.admin {
    background-image: url('../images/ultimate-ali.jpg');
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    background-color: rgb(255, 255, 255);
    background-size: 1550px 600px;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);

}


.admin1 {
    background-image: url('../images/ultimate-ali.jpg');
    background-size: 1900px 800px;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    color: rgb(255, 255, 255);
    text-align: center;
}



.table-admin {
    background-color: rgba(0, 0, 0, 0.7);
    font-family: 'Georgia', serif;
    padding: 20px;
    border-radius: 10px;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 70px;
    width: 500px;
    height: 480px;
    position: fixed;
    left: 150px;
}

/*Tabella statistiche*/
.table-striped1 {
    background-color: rgba(0, 0, 0, 0.7);
    font-family: 'Georgia', serif;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 70px;
    padding: 20px;
    position: fixed;
    width: 50%;
    right: 240px;
    width: 500px;
    height: 480px;
    justify-items: center;
    border-radius: 10px;
    border-radius: 15px;
}

.table-striped {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    border-radius: 15px;
    width: 380px;
    height: 380px;
    text-align: left;
}

/* Aggiunta di uno stile per evitare la sovrapposizione dei pulsanti */
#pulsanti-container {
    display: flex;
    flex-direction: row;
    /* Disposizione orizzontale */
    justify-content: center;
    /* Centra i pulsanti orizzontalmente */
    align-items: center;
    /* Allinea i pulsanti verticalmente */
    gap: 15px;
    /* Spaziatura tra i pulsanti */
}

/*immagine frisbee*/

.frisbee {
    width: 50px;
    height: 10px;
    background: radial-gradient(circle at center, rgb(135, 6, 155), #f7e3ee);
    border-radius: 50%;
    position: absolute;
    animation: moveFrisbee 6s linear infinite;
}

@keyframes moveFrisbee {
    0% {
        left: -30%;
        top: 10%;
        transform: rotate(180deg);
    }

    50% {
        top: 40%;
        transform: rotate(180deg);
    }

    100% {
        left: 100vw;
        top: 70%;
        transform: rotate(180deg);
    }
}